.footer {
  background: #000 url('../assets/img/footer.png') left -80px center / 100% auto no-repeat;
}

.work-card--text--first .work-card__desc {
    max-width: 429px;
}

.work-card--text--third .work-card__desc {
    max-width: 350px;
}

.footer__contact-desc {
    max-width: 356px;
}

.about__text {
    max-width: 735px;
}

@media (max-width: 1919px) {
    .about__text {
        max-width: 554px;
    }

    .work-card--text--first .work-card__desc {
        max-width: 349px;
    }

    .work-card--text--third .work-card__desc {
        max-width: 292px;
    }

    .work-card--text--first .work-card__title {
        max-width: 226px;
    }

    .footer__contact-desc {
        max-width: 292px;
    }

    .hero__title {
        font-size: 29px;
        line-height: 104%;
        max-width: 312px;
    }
}

@media (max-width: 1300px) {
    .footer {
        background: #0b0b0b url(../assets/img/footer.png) left -100px center / 100% auto no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1024px) {
    .footer {
        background: #0b0b0b url(../assets/img/footer.png) bottom center / 100% auto no-repeat;
        background-size: cover;
    }
}

@media (max-width: 570px) {
    .hero__title {
        font-size: 29px;
    }

    .hero__text {
        max-width: 293px;
    }

    .about__p {
        font-size: 28px;
    }

    .info-label h3 {
        max-width: 90%;
    }

    .team__title {
        max-width: 209px;
    }

    .team-card__role {
        font-size: 14px;
    }

    .footer {
        padding: 10px 20px 500px;
        background-image: url(../assets/img/footer-mobile-2.png);
        background-position: center top 77%;
        background-size: 354px 640px;
    }
}